sudo: false
language: python

python:
  - "2.7"
  - "3.5"
  - "3.6"

env:
  - PANDAS="0.18"
  - PANDAS="0.19"
  - PANDAS="0.20"
  - PANDAS="0.21"
  - PANDAS="0.22"
  - PANDAS="latest"

install:
  - travis_retry pip install codecov coverage
  - travis_retry pip install tox-travis
script: travis_retry tox
after_success: coverage combine && codecov
