sudo: false
language: python

python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"

env:
  - PANDAS="0.20"
  - PANDAS="0.21"
  - PANDAS="0.22"
  - PANDAS="0.23"
  - PANDAS="0.24"
  - PANDAS="0.25"
  - PANDAS="latest"

matrix:
  include:
    - python: 3.6
      env: TOXENV=flake8

before_install:
  - wget https://github.com/jgm/pandoc/releases/download/2.2.3.2/pandoc-2.2.3.2-1-amd64.deb
  - sudo dpkg -i pandoc-2.2.3.2-1-amd64.deb
  - pandoc -v
install:
 - pip install wheel codecov coverage tox-travis
 - python setup.py bdist_wheel
 - pip install ./dist/recordlinkage-*.whl
script: tox --installpkg ./dist/recordlinkage-*.whl
after_success: 
  - codecov
