sudo: false
language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"

env:
  - PANDAS_VERSION="pandas>=0.18,<0.19"
  - PANDAS_VERSION="pandas>=0.19,<0.20"
  - PANDAS_VERSION="pandas>=0.20,<0.21"
  - PANDAS_VERSION="pandas"

before_script:
  - pip install nose
  - pip install parameterized
  - pip install codecov

# install matrix versions, deps and optional deps
install:
  - pip install -q $PANDAS_VERSION
  - pip install -e .
  - pip install networkx

# run tests with coverage
script: nosetests --verbose --nologcapture --with-coverage --cover-package=recordlinkage

# codecov
after_success:
  - bash <(curl -s https://codecov.io/bash)