language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

env:
  - PANDAS_VERSION="pandas>=0.18,<0.19"
  - PANDAS_VERSION="pandas>=0.19,<0.20"
  - PANDAS_VERSION="pandas"

before_script:
  - pip install nose
  - pip install parameterized
  - pip install codecov

# install matrix versions, deps and optional deps
install:
  - pip install --upgrade pip setuptools wheel
  - pip install numpy
  - pip install scipy 
  - pip install scikit-learn 
  - pip install six 
  - pip install jellyfish
  - pip install -q $PANDAS_VERSION

# run tests with coverage
script: nosetests --with-coverage --cover-package=recordlinkage

# codecov
after_success:
  - bash <(curl -s https://codecov.io/bash)