sudo: false
language: python
python:
  - "3.6"
dist: xenial

python:
  - "2.7"
  - "3.5"
  - "3.6"

env:
  - PANDAS="0.18"
  - PANDAS="0.19"
  - PANDAS="0.20"
  - PANDAS="0.21"
  - PANDAS="0.22"
  - PANDAS="latest"

matrix:
  include:
    - python: 3.6
      env: TOXENV=flake8

before_install:
  - wget https://github.com/jgm/pandoc/releases/download/2.2.3.2/pandoc-2.2.3.2-1-amd64.deb
  - sudo dpkg -i pandoc-2.2.3.2-1-amd64.deb
  - pandoc -v
install:
 - pip install wheel codecov coverage tox-travis
 - python setup.py bdist_wheel
 - pip install ./dist/recordlinkage-*.whl
script: tox --installpkg ./dist/recordlinkage-*.whl
after_success: coverage combine && codecov
