language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
# command to install dependencies
install:
  - pip install --only-binary=numpy,scipy numpy scipy
  - pip install -r requirements.txt
# command to run tests
script: nosetests